
services:
  # ========================
  # IoT Device
  # ========================
  python-emulator:
    image: qwertymvh/python_iot:latest
    container_name: python_iot
    environment:
      MQTT_BROKER: mosquitto
      MQTT_PORT: 1883
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/iot_db
      API_URL: http://iot_backend:3000/api/v1
      IOT_USER: ${IOT_USER}
      IOT_PASS: ${IOT_PASS}
      STATION_ID: ${STATION_ID}
    depends_on:
      - mosquitto
    networks:
      - iot-network

  # ========================
  # MQTT Broker
  # ========================
  mosquitto:
    image: eclipse-mosquitto:2.0
    container_name: mqtt_broker
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf
    networks:
      - iot-network

  # ========================
  # MQTT Bridge
  # ========================
  mqtt-bridge:
    image: qwertymvh/ts_mqtt_bridge:latest
    container_name: ts_mqtt_bridge
    environment:
      MQTT_BROKER: mqtt://mosquitto:1883
      API_URL: http://iot_backend:3000/api/v1
      BRIDGE_EMAIL: ${IOT_USER}
      BRIDGE_PASSWORD: ${IOT_PASS}
    depends_on:
      - mosquitto
      - python-emulator
    networks:
      - iot-network

networks:
  iot-network:
    name: iot-shared-network
    external: true
